*x509up*
.bashrc
.condarc
x509up_u128055
crab.log
*.pyc
*.txt
*.root
*.coffea
*.old_paths/
modified:   x509up_u128055
*_config/
*_logs/
Miniconda3-latest-Linux-x86_64.sh
OniaOpenCharmRun2ULAna/nanoAODplus_processor/.ipynb_checkpoints/
dps_2017.sh
dps_2018.sh
mabarros.cc
sps_2017.sh
sps_vfns_2017.sh
.gitignore
x509up_u128055
